.card {
  padding: 30px;
  transition: all 0.3s;
  @apply flex flex-col gap-2 cursor-pointer rounded-xl p-6 pb-7;
}

:global(.light) .card {
  --tl-shadow: rgb(237, 245, 248);
  --br-shadow: rgb(220, 229, 234);

  box-shadow: inset 8px 8px 10px var(--tl-shadow),
    inset -12px -12px 13px var(--br-shadow),
    7px 7px 14px rgba(220, 229, 234, 0.7),
    -12px -12px 10px rgba(255, 255, 255, 0.4);
  @apply text-gray-600;
}

:global(.dark) .card {
  @apply border-[1px] border-gray-700 bg-gray-900/30 hover:border-gray-200 hover:bg-gray-700/30;
}

.card-arrow {
  @apply ml-1 transition-[margin-left];
}

.card:hover .card-arrow {
  @apply ml-2;
}
